# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno (información sensible)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/


# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
